{:deps {dev.failsafe/failsafe {:mvn/version "3.3.2"}
        org.clojure/spec.alpha {:mvn/version "0.5.238"}
        org.clojure/clojure {:mvn/version "1.11.4"}}
 :paths ["src"]
 :aliases {:test
           {:extra-paths ["test"]
            :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
            :exec-fn     cognitect.test-runner.api/test
            :main-opts ["-m" "cognitect.test-runner"]}

           :dev {}

           :codox
           {:extra-deps {codox/codox {:mvn/version "0.10.8"}}
            :exec-fn codox.main/generate-docs
            :exec-args {:source-paths  ["src"]
                        :source-uri "https://github.com/sunng87/diehard/blob/master/{filepath}#L{line}"
                        :metadata {:doc/format :markdown}}}

           :build
           {:extra-deps {com.github.liquidz/build.edn {:mvn/version "0.11.266"}}
            :ns-default build-edn.main
            :exec-args {}}}}
