name: Clojure CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeLaGuardo/setup-clojure@master
        with:
          cli: "latest"
          cljfmt: "latest"
          clj-kondo: "latest"
      - name: format
        run: cljfmt check
      - name: lint
        run: clj-kondo --lint src
      - name: Run tests
        run: clojure -M:test
      - name: antq
        uses: liquidz/antq-action@main
